/* Remove unnecessary styles if not used */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .underline-thick {
    position: relative;
  }
  .underline-thick::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 4px;
    width: 100%;
    background-color: #ffff; /* Customize the color as needed */
    border-radius: 2px;
  }
  .hover-underline:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 4px;
    width: 100%;
    background-color: #fff;
    border-radius: 2px;
  }
}
